* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro';
  margin: auto;
  color: #323232;
  text-align: center;
  background-color: #F7F9FA;
}

/* GRADIENT LINE ON TOP OF PAGE */
#gradient {
  height: 9px;
  background-image: linear-gradient(to right, #ea212d, #3a55a2, #6cbb4c);
  overflow: hidden;
}

.outerheader {
  background-color: black;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.blackheader {
  width: 89%;
  margin: auto;
  background-color: black;
  height: 70px;
}

.logo {
  float: left;
}

.dcfbackground {
  width: 100%;
  background-color: black;
}

.dcf {
  margin-bottom: 0px;
}

h1 {
  font-size: 40px;
  color: #323232;
  padding: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  clear: both;
}

h1:before,
h1:after {
 background-color: lightgrey;
 content: "";
 display: inline-block;
 height: 2px;
 position: relative;
 vertical-align: middle;
 width: 42.8%;
 box-shadow: 0 1px 1px 0 lightgrey;
}

h1:before {
 right: 0.5em;
 margin-left: -50%;
}
h1:after {
 left: 0.5em;
 margin-right: -50%;
}

h2 {
  font-weight: 700;
}

section {
  width: 60%;
  margin: auto;
  text-align: left;
}

.about {
  border-bottom: 7px solid #ea212d;
  width: 73px;
  padding-bottom: 3px;
}

.schedule {
  border-bottom: 7px solid #6cbb4c;
  width: 113px;
  padding-bottom: 3px;
}

p {
  line-height: 25px;
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

/* BREAKLINE ABOVE FOOTER */
hr {
  background-color: #D7DAE0;
  height: 2px;
  border: 0;
  margin-bottom: 0px;
  box-shadow: 0 1px 1px 0 lightgrey;
}

/* CONTACT BUTTON LINK ON HOMEPAGE */
#contactparagraph {
  font-size: 26px;
  line-height: 50px;
}

#contact {
  background-color: #3a55a2;
  letter-spacing: 0.7px;
  color: white;
  font-size: 17px;
  border-radius: 50px;
  text-decoration: none;
  padding: 12px 22px 12px 22px;
  font-weight: 600;
}

#contact:hover {
  border: 2px solid #3a55a2;
  background-color: white;
  color: black;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 2px 2px 0px lightgray;
}

/* DIRECTIONS + MAP IMAGES */
.directioncontainer {
  padding-bottom: 20px;
}

.directionspart1 {
  width: 70%;
  margin-bottom: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 8px 0 lightgrey;
}

.annex {
  width: 70%;
  margin-bottom: 50px;
  border-radius: 15px;
  box-shadow: 0 2px 8px 0 lightgrey;
}

.lottitle {
  width: 260px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.5px;
}

.lotpics {
  margin: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center
}

.lot {
  width: 260px;
  border-radius: 15px;
  box-shadow: 0 2px 8px 0 lightgrey;
}

.lotsection {
  width: 70%;
}

.parking {
  border-bottom: 7px solid #69bd45;
  padding-bottom: 3px;
  letter-spacing: 1px;
  width: 165px;
}

.routes {
  padding-top: 40px;
  border-bottom: 7px solid #3a55a2;
  padding-bottom: 3px;
  width: 92px;
  letter-spacing: 1px;
}

.routepicscontainer {
  margin: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.routepics {
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 2px 8px 0 lightgrey;
  margin-bottom: 20px;
}

/* COMPANIES SECTION*/
.companies, .sponsors {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 8px 0 lightgrey;
}

.companycontainer {
  padding-right: 20px;
  padding-left: 20px;
}

.caption {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}

.companies img {
  max-width: 150px;
  max-height: 150px;
  padding: 35px;
  padding-bottom: 10px;
}

.sponsors img {
  max-width: 250px;
  max-height: 250px;
  padding: 35px;
  padding-bottom: 10px;
}

.companies img:hover {
  animation: pop 0.3s linear 1;
}

.sponsorcontainer img {
  padding-bottom: 35px;
}

/* SPEAKERS SECTION*/
.speakercontainer {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 8px 0 lightgrey;
}

.speakers {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.speakers img {
  max-width: 80%;
  height: auto;
  padding: 15px;
  box-shadow: 0 2px 8px 0 lightgrey;
  background-color: white;
  border-radius: 200px;
}

.speakercaption {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding-top: 10px;
  padding-bottom: 20px;
}


/* SPEAKERS CSS ANIMATIONS/OVERLAY TEXT */
.speakerpic {
  position: relative;
  width: 100%;
}

.speakerpic a {
  text-decoration: none;
  color: #FA7268;
}

.overlay {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  max-width: 80%;
  border-radius: 200px;
  margin-bottom: 3px;
}

.speakerpic:hover .overlay {
  opacity: .55;
  transition: .4s ease;
  background-color: white;
  animation: pop 0.3s linear 1;
}

.text {
  color: black;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.row1 {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 8px 0 lightgrey;
}

/* PORTFOLIO IMAGES */
.pic {
  padding: 8px;
  border: 1px solid #d6daef;
  background-color: #f2f6f8;
  width: 70%;
  box-shadow: 4px 4px 4px darkgrey;
  opacity: 0.85;
  border-radius: 200px;
}

.pic:hover{
  animation: pop 0.3s linear 1;
  opacity: 1;
}

.row1 div:last-of-type img{
  margin-right: 0px;
}

.row2 div:last-of-type img{
  margin-right: 0px;
}
/* MAIN NAVIGATION */
nav {
  float: right;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

nav ul li a {
  padding: 10px 17px 10px 17px;
  display: block;
  text-align: center;
  font-size: 85%;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: lightgrey;
  text-decoration: none;
}

nav a:hover {
  background-color: #323232;
  border-radius: 20px;
  color: white;
  transition:color 0.5s ease;
}

/* SOCIAL MEDIA LINKS IN CONTACT SECTION */
.contactsection {
    background-color: white;
    width: 70%;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 8px 0 lightgrey;
    margin-bottom: 30px;
}

.socialcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 30%;
  margin: auto;
}

.contactlinks {
  color: #004f9f;
  font-weight: 600;
}

.contactlinks:hover {
  color: darkblue;
}

a i {
  color: white;
  padding: 25px;
  border-radius: 50px;
  margin-bottom: 20px;
  background-color: #1da1f2;
}

.ig i {
  background-color: #3f729b;
  padding-right: 28px;
  padding-left: 28px;
}

.fb i {
  background-color: #3b5998;
  padding-right: 37px;
  padding-left: 37px;
}

.linkedin i {
  background-color: #0077B5;
  padding-right: 28px;
  padding-left: 28px;
}

.mail i {
  background-color: #004f9f;
}

a i:hover {
  animation: pop 0.3s linear 1;
}

/* FOOTER SECTION */
footer {
  padding: 20px;
  font-family: helvetica;
  letter-spacing: 0.5px;
}

footer p {
  font-size: 13px;
}

@keyframes pop{
  50%  {transform: scale(1.1);}
}

/* RESPONSIVE */
@media screen and (max-width: 709px) {
    .lotpics {
      justify-content: center;
    }
    .routepicscontainer {
      justify-content: center;
    }
}

@media screen and (max-width: 633px) {
  .blackheader {
    background-color: black;
    padding-bottom: 172px;
  }

}

@media screen and (max-width: 688px) {
  .blackheader {
    background-color: black;
    padding-bottom: 137px;
  }

  nav ul {
    margin: auto;
  }
}

@media screen and (max-width: 633px) {
  .blackheader {
    background-color: black;
    padding-bottom: 172px;
  }

}

@media screen and (max-width: 500px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li a {
    padding: 10px;
  }

  .companies {
    justify-content: center;
  }

}

@media screen and (max-width: 272px) {
  .blackheader {
    background-color: black;
    padding-bottom: 207px;
  }

}

@media screen and (max-width: 203px) {
  .blackheader {
    background-color: black;
    padding-bottom: 242px;
  }
}

@media screen and (max-width: 174px) {
  .blackheader {
    background-color: black;
    padding-bottom: 277px;
  }
}
